body {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #FEFFF9;

}

#kunst {
    height: 80vh;
    width: 90vw;
    position: absolute;
    z-index: 1;
    margin-top: 3em;
    animation-name: intro;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes intro {
    0% {
        top: -50em;
    }

    90% {
        top: 3em;
        ;
    }

    100% {
        top: 0;
    }
}

#kind {
    fill: #ffe2b0;
    height: 90vh;
    width: 90vw;
    position: absolute;
    left: 0;
    top: 50em;
    visibility: hidden;
    z-index: 3;
    max-height: 0;
}

button {
    z-index: 2;
    padding: 1em;
    margin-left: 2em;
    position: relative;
    border-radius: 80px;
    border-style: none;
    font-family: sans-serif;
    font-weight: 600;
    animation-name: knop;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    width: 12em;
}

@keyframes knop {
    0% {
        top: -10em;
        opacity: 0;
        transform: rotate(0);
    }

    100% {
        top: 0em;
        opacity: 100;
        transform: rotate(360deg);
    }
}

#knop {
    background-color: #cc0b0e;
    color: white;
}

#zwaai {
    background-color: #003da2;
    color: white;
}

#baby {
    background-color: #ffba02;

}

#extra_kunstwerk {
    transform: translate(2px, 30px);
}

.cls-1 {
    fill: none;
}

.cls-1,
.cls-5 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-2 {
    fill: #003da2;
}

.cls-3 {
    fill: #ffba02;
}

.cls-4 {
    fill: #ff4505;
}

.cls-6 {
    fill: #cc0b0e;
}


.swing {
    animation-name: swing;
    animation-duration: 1.5s;
    transform-origin: top center;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes swing {
    from {
        transform: rotate(20deg);
    }

    to {
        transform: rotate(-20deg);
    }
}



.balanseren {
    animation-name: draaien;
    animation-duration: 1.5s;
    transform-origin: 168px 148px;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes draaien {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}

.regenboog {
    animation-name: kleur;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes kleur {
    0% {
        fill: red;
    }

    15% {
        fill: orange;
    }

    30% {
        fill: yellow;
    }

    45% {
        fill: green;
    }

    60% {
        fill: blue;
    }

    75% {
        fill: indigo;
    }

    90% {
        fill: violet;
    }

    100% {
        fill: red;
    }
}

.zwaai {
    animation-name: zwaai;
    animation-duration: 1.5s;
    transform-origin: 380px 510px;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes zwaai {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(-5deg);
    }
}

.zwaai2 {
    animation-name: zwaai2;
    animation-duration: 1.5s;
    transform-origin: 343px 580px;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes zwaai2 {
    from {
        transform: rotate(15deg);
    }

    to {
        transform: rotate(-15deg);
    }
}

.grijp {

    animation-name: baby;
    animation-duration: 3s;
    transform-origin: center bottom;
    animation-iteration-count: 1;
}

@keyframes baby {

    /*https://stackoverflow.com/questions/2928688/how-to-hide-elements-without-having-them-take-space-on-the-page*/

    20% {
        transform: rotate(25deg);
        top: 30em;
        visibility: visible;
        max-height: none;
    }

    60% {
        transform: rotate(-20deg);
        top: 25em;
        visibility: visible;
        max-height: none;
    }

    90% {
        transform: rotate(0deg);
        top: 60em;
        visibility: visible;
        max-height: none;
    }

    100% {
        transform: rotate(0deg);
        top: 60em;
        visibility: hidden;
        max-height: 0;
    }
}

.cls-2:hover + .cls-3 {
    fill: #003da2;
}

.cls-3:hover + .cls-4 {
    fill: #ffba02;
}


#blob_1:hover {
    fill: #ffba02;
}

#blob_2:hover {
    fill: #cc0b0e;
}

#blob_3:hover {
    fill: #ff4505;
}

#blob_4:hover {
    fill: #003da2;
}

#rode_blob:hover {
    fill: #ffba02;
}

#blad_1:hover {
    fill: #ff4505;
}

#blad_2:hover {
    fill: #003da2;
}
